div.carousel{
    margin-top: 5vh;
}

.slider-btn:hover {
    filter: drop-shadow(0rem 0rem .5rem #FFE9D7);
}

.carousel__dot {
    width: 2rem;
    height: 2rem;

}

.slider {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.carousel__dot--selected {
    width: 2.5rem;
    height: 2.5rem;
    transition: .5s;
    filter: drop-shadow(0rem 0rem 1rem #ab9c7c);
    animation: spin 3s infinite linear;

}
.slider{
    height: 26rem;
    width: 26rem;
}

.button-grp{
    width: 26rem;
}

.text-container{
    width: 26rem;
    height: 26rem;
}

@media screen and (max-width: 600px) {

    .slider {
        height: 20rem;
        width: 20rem;
    }
    .text-container {
        height: 30rem;
        width: 20rem;
        margin-bottom: 4px;
    }
    .button-grp {
        width: 20rem;
    }

}

@media (min-width:1060px) and (max-width: 1175px) {
    .sticker {
        margin-left: -20rem;
    }
}


