@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--nav: 255, 255, 255;
		--hackathon-primary: 206 86% 52%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 5% 64.9%;

		--radius: 0.5rem;

		--gradient-color-1: #992444;
		--gradient-color-2: #be4566;
		--gradient-color-3: #d85074;
		--gradient-color-4: #c37288;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--nav: 0, 0, 0;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-[#282738] text-foreground;
	}
}

.no-select {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.parallax-effect-img {
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.event-pass-img {
	transform: translateZ(40px);
}

.pulsatingDot {
	/* animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite; */
	/* border-radius: 50%; */
	/* box-sizing: border-box; */
	transform-origin: center;
}

.pulsatingDot:before {
	animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	/* background-color: var(--pulsating-dot, #00BEFF); */
	background-color: hsl(var(--hackathon-primary));
	border-radius: 45px;
	content: "";
	display: block;
	height: 300%;
	left: -100%;
	position: relative;
	top: -100%;
	width: 300%;
}

/* === containers === */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    margin: 0;
    overflow-x: hidden;
}
.App {
    background-image: url("/img/static/images/landing-page-background-1.webp");
    background-size: 100% auto; /* Adjust width */
    background-repeat: repeat;
    background-position: center;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}

.parent-container {    
    /* width and height */
    width: 100vw;
    height: auto;
    
    /* flex */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* spacing */
    /* padding: top, right, bottom, left */
    padding: 5rem 2.5rem 10rem 2.5rem
}

.child-container {
    /* width and height */
    width: 100%;
    height: auto;

    /* flex */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* spacing */
    /* margin: top, right, bottom, left */
    margin: 1rem 0rem 0rem 0rem;
}

/* === fonts === */
/* shoutout to anastasiia fr: 
https://medium.com/@a.pirus/simplifying-multiple-fonts-styling-in-next-js-13-with-css-variables-cb57e9707693 */

h1, h3 {
    /* font-family:var(--font-inknut-antiqua); */
    /* font-family: var(--font-junge); */
    font-family: var(--font-righteous);
    
}

h2, p {
    /* font-family: var(--font-julius-sans-one); */
    font-family: var(--font-darker-grotesque);
}

/* p {
    font-family:var(--font-nunito);
} */

/* === media queries === */

/* small */
@media (min-width: 580px) {
    /* .parent-container {
        flex-direction: row; 
    }
    .child-container {
        width:50%;
        flex-direction: column;
    } */
}

/* medium */
@media (min-width: 768px) {
    .parent-container {
        flex-direction: row; /* changed here */
    }
    .child-container {
        width:50%;
        flex-direction: column;
    }
	.App {
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}

/* large */
@media (min-width: 1024px) {
    .parent-container {
        flex-direction: row; /* changed here */
        /* padding: top, right, bottom, left */
        padding: 10rem 2.5rem 12rem 2.5rem;
    }
    .child-container {
        width:50%;
        flex-direction: column;
    }
}