summary {
	font-family: var(--font-inknut-antiqua);
}
summary::after {
	content: "\002B";
	color: #4a3628;
	display: flex;
	align-items: start;
	transition: 0.2s;
	font-weight: bolder;
}

summary::-webkit-details-marker {
	display: none;
}

details {
	padding: 0.5rem;
	background-color: #ffe9d7;
	border-radius: 5px;
}
details:hover {
	box-shadow: 0rem 0rem 2rem #ffe9d7bb;
	transition: 0.4s ease-in-out;
}

details[open] summary {
	background: #ffe9d7;
	color: #4a3628;
}

details[open] summary:after {
	content: "\00D7";
}

details[open] .panel {
	background: #ffe9d7;
	color: #4a3628;
	padding: 0.5em 1em;
}
