.Sponsor-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  padding-bottom: 10rem;
}

.Sponsor-title {
  text-shadow: 0rem 0rem 3rem white;
}

.Sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.Sponsor-logo {
  background-color: #FFE9D7;
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  position: relative;
  border:3px solid #A6CDC4;
}

.Sponsor-logo:hover {
  box-shadow: 0rem 0rem 1.5rem white;
}

.sponsor-img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.Sponsor-logo:hover .sponsor-img {
  opacity: 0;
}

.Sponsor-logo::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 90%;
  background-position: center;
  background-image: var(--hover-image);
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.Sponsor-logo:hover::before {
  opacity: 1;
}

.vinyl-yellow {
  position: absolute;
  -webkit-animation:spinCC 4s linear infinite;
  -moz-animation:spinCC 4s linear infinite;
  animation:spinCC 4s linear infinite;
}

.glow-sponsor {
  filter: drop-shadow(0 0 20px #992444);
  transform: rotate(5deg);
}

@-moz-keyframes spinCC { 
  100% { -moz-transform: rotate(-360deg); } 
}
@-webkit-keyframes spinCC { 
  100% { -webkit-transform: rotate(-360deg); } 
}
@keyframes spinCC { 
  100% { 
      -webkit-transform: rotate(-360deg); 
      transform:rotate(-360deg); 
  } 
}

/* === media queries === */
/* medium */
@media (min-width: 793px) {
.Sponsor-logo {
  flex: 1 1 calc(50% - 10rem); /* split into 2 columns */
  margin:4rem;
}
}

/* large */
@media (min-width: 1100px) {
.Sponsor-logos {
  padding:0rem 10rem;
}
}