.film-strip-container {
        /* width and height */
        width: 100vw;
        height: auto;
        
        /* flex */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}